
<div class="container col-lg-6" id="formulario">
<div class="card-header mb-4 fs-2 text-center" >
    <h2>Formulario usuarios</h2>
</div>

<div class="card-body">
<form id="document">
    <div class="mb-4">
        <label for="" class="form-label">Numero identidad</label>
        <input type="number" class="form-control" name="numero_identidad" [(ngModel)]="usuario.numero_identidad" autocomplete="on" required="">
    </div>

    <div class="mb-4">
        <label for="" class="form-label">Nombre</label>
        <input type="text" class="form-control" name="nombre" [(ngModel)]="usuario.nombre"autocomplete="on" required="">
    </div>

    <div class="mb-4">
        <label for="" class="form-label">Apellido</label>
        <input type="text" class="form-control" name="apellido" [(ngModel)]="usuario.apellido" autocomplete="on" required="">
    </div>

    <div class="mb-4">
        <label for="" class="form-label">fecha nacimiento</label>
        <input id="fecha_nacimiento" type="date" class="form-control" name="fecha_nacimiento" autocomplete="on" [(ngModel)]="usuario.fecha_nacimiento" required=""> 
    </div>

    <div class="form-group row">
        <label for="ciudad" class="col-form-label col-sm-2">ciudad</label>

        <select [(ngModel)]="usuario.id_ciudad_fk" class="form-control" name="id_ciudad_fk">
            <option [ngValue]="undefined">Selecione una ciudad</option>
            <option *ngFor="let ciudad of ciudades" [ngValue]="ciudad" autocomplete="on" > {{ciudad.nombre_ciudad}}  </option>

        </select>

    </div>

    <div class="mb-4">
        <label for="" class="form-label">Correo electronico</label>
        <input type="email" class="form-control" autocomplete="on" name="correo_electronico" [(ngModel)]="usuario.correo_electronico">
    </div>

    <div class="mb-4">
        <label for="" class="form-label">Telefono</label>
        <input type="number" class="form-control" name="telefono"  autocomplete="on"[(ngModel)]="usuario.telefono">
    </div>

    <div class="form-group row mb-4">
        <label for="ocupacion" class="col-form-label col-sm-2">Ocupacion</label>

        <select [(ngModel)]="usuario.id_ocupacion_fk" class="form-control" name="id_ciudad_fk" autocomplete="id_ciudad_fk">
            <option [ngValue]="undefined">Selecione una ocupacion</option>
            <option *ngFor="let ocupacion of ocupaciones" [ngValue]="ocupacion" autocomplete="on">{{ocupacion.nombre_ocupacion}} </option>
        </select>

    </div>


    <button type="submit" class="btn btn-primary" (click)="crearUsuario()" *ngIf="usuario.numero_identidad" >Guardar</button>
    <button type="submit" class="btn btn-primary" (click)="actualizarUsuario()" *ngIf="!usuario.numero_identidad" >Guardar</button>
</form>
</div>
</div>